*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f3f5f8;
    --text-color: #000;
    --second-color:#3d535f;
    --main-color: #7f00ff;

}

body{
    background-color: var(--bg-color);
    color: var(--second-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0px 15%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


.logo{
    display: flex;
    font-size: 45px;
    font-weight: 900;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.logodot{
    
    font-size: 52px;
    color: #7f00ff;
}

.navlist{
    display: flex;
}

.navlist li{
    position: relative;
    list-style: none;
    margin: 16px 15px;
}

.navlist li a{
    font-size: 22px;
    color: #3d535f ;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
}
.link1{
    color:#0A66C2 ;
    font-size: 30px;
    padding-right: 20px;
}
.link2{
   color: #ac2bac;
   font-size: 30px;
   padding-right: 20px;
}
.link3{
    color: #55acee;
    font-size: 30px;
    padding-right: 20px;
}
.link4{
    color: #333333;
    font-size: 30px;
}

.navlist li:hover a,
.links i:hover
{
    color: #7f00ff;
    
}

#menu-icon{
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 100px 15%;

}

.main-home-img{
    height: 550px;
    width: auto;
}

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    
    min-height: 100vh;
    height: 100%; 
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 6rem;

}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 3px;
    color: #3d535f;
    padding-top: 50px;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 30px;
    bottom: 10px;
    background-color: #7f00ff;
}

.home-text{
    z-index: 5;
}
.home-text h1{
        display: block;
        font-size: 3.5em;
        font-weight: 900;
        color: #3d535f;
        
}
.multitext{
    color: #7f00ff;
    text-transform: capitalize;
}

.home-text p{
    display: block;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: -5px;
    justify-content: center;
    align-items: center;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 30px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0  15px 10px rgba(0, 0, 0, 0.4);
    transition: ease .40s;
    -webkit-transition: ease .40s;
    -moz-transition: ease .40s;
    -ms-transition: ease .40s;
    -o-transition: ease .40s;
}

button:hover{
    background-color: #7f00ff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

header.sticky{
    background-color: var(--bg-color) ;
    padding: 2px 16%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}
.sub-box{
    padding: 45px 45px 45px 45px;
    transition: ease .50s;
    cursor: pointer;
    -webkit-transition: ease .50s;
    -moz-transition: ease .50s;
    -ms-transition: ease .50s;
    -o-transition: ease .50s;
}
.sub-img img{
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.sub-box h3{
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: 600;
}
.sub-box p{
    line-height: 29px;
    font-size: 1.2em;
}
.sub-box:hover{
    background: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -moz-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -ms-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -o-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

.about-resize{
    height: 500px;
    width: auto;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-text h3 {
    color: #7f00ff;
    font-size: 20px;
    font-weight: 600;
}

.about-text h2 {
    font-size:2.2em;
    font-weight: 600;
    margin: 8px 0px 20px;
    line-height: 1.1;
}

.about-text p{
    
    font-size: 1.2em;
    color: #3d535f;
}

.heading{
    text-align: center;
}
.heading h2{
    font-size: 2.2em;
    font-weight: 600;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3{
    color: #7f00ff;
    font-size: 20px;
    font-weight: 600;
}

.heading p{
    
    font-size: 1.2em;
    color: #3d535f;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: all .40s;
    -moz-transition: all .40s;
    -ms-transition: all .40s;
    -o-transition: all .40s;
}

.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}

.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: #f3f5f8;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: all .40s;
    -moz-transition: all .40s;
    -ms-transition: all .40s;
    -o-transition: all .40s;
}

.layer:hover h3{
    bottom: 52%;
    opacity:1;
}
.layer h5{
    position: absolute;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: #f3f5f8;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: all .40s;
    -moz-transition: all .40s;
    -ms-transition: all .40s;
    -o-transition: all .40s;
}

.layer:hover h5 {
    bottom: 48%;
    opacity:1;
}
.service-content span{
    color: #7f00ff;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.row{
    background: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 45px 45px;
    transition:  ease .45s;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition:  ease .45s;
    -moz-transition:  ease .45s;
    -ms-transition:  ease .45s;
    -o-transition:  ease .45s;
}
.s img{
    height: 65px;
    width: 65px;
    background: #f75124;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.s.s-two img{
    background: #baebcd;
}
.s.s-three img{
    background: #d9d1fa;
}
.s.s-four img{
    background: #faedce;
}
.row h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2px;
}
.row h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
.row p{
    font-size: 1.1em;
    color: #3d535f;
    line-height: 28px;
}
.row:hover{
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -webkit-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -moz-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -ms-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
    -o-transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}
.cta-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}
.wrap{
    background: #fff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px;
    transition:  ease .40s;
    cursor: pointer;
    -webkit-transition:  ease .40s;
    -moz-transition:  ease .40s;
    -ms-transition:  ease .40s;
    -o-transition:  ease .40s;
}
.one{
    background: #baebcd;
}

.two{
    background:#d9d1fa ;
}
.three{
    background: #faedce;
}
.wrap h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2px;
}
.wrap p{
    font-size: 1.1em;
    color: #3d535f;
}
.contact{
    background: #8067f0eb;
    width: 64%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-image: url(img/intro.png);
    background-size: cover;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.center h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--bg-color);
}
.center p{
    font-size:  1.1em;
    color: var(--bg-color);
    line-height: 26px;
    margin-bottom: 25px;
}
.contact .action form input[type="email"]{
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background: var(--bg-color);
    color: var(--second-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius:  30px;
    -webkit-border-radius:  30px;
    -moz-border-radius:  30px;
    -ms-border-radius:  30px;
    -o-border-radius:  30px;
}
.contact .action form input[type="submit"]{
    padding: 12px 40px;
    background: var(--second-color);
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius:  30px;
    cursor: pointer;
    -webkit-border-radius:  30px;
    -moz-border-radius:  30px;
    -ms-border-radius:  30px;
    -o-border-radius:  30px;
}

.mylink h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2px;
    justify-content: center;
    text-align: center;
}
.links{
    position: relative;
    justify-content: center;
    text-align: center;
}

.ends span{
    color: red;
}

.ends{
    text-align: center;
}

/* Background Curves */

  .spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('/img/TryWave1.svg');
} 

/*.spacer2{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer2{
    background-image: url('/img/Trywave2.svg');
}  */

@media (max-width : 1425px)
{


    header{
        padding: 16px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    header.sticky{
        padding: 10px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    section{
        padding: 70px 3%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .contact{
        width: 95%;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    :root{
        --big-font: 4rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
}    

@media (max-width : 979px){
    #menu-icon
    {
        display: block;
    }
    .home
    {
        min-height: 80vh ;
    }
    .navlist
    {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: right;
        transition: all .40s;
        -webkit-transition: all .40s;
        -moz-transition: all .40s;
        -ms-transition: all .40s;
        -o-transition: all .40s;
    }
    .navlist a
    {
        display: block;
        padding: 1.2rem;
        margin: .2rem;
        border-radius:  2px solid var(--main-color);
        -webkit-border-radius:  2px solid var(--main-color);
        -moz-border-radius:  2px solid var(--main-color);
        -ms-border-radius:  2px solid var(--main-color);
        -o-border-radius:  2px solid var(--main-color);
}

    .navlist a:hover
    {
        background: var(--bg-color);
    }
    .navlist a::after
    {
        display: none;
    }
    .navlist.active{
        top: 100%;
    }
} 


@media (max-width:800px){
    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }
    .home-img{
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }
    section{
       padding: 65px 3%;
       transition: .3s;
       -webkit-transition: .3s;
       -moz-transition: .3s;
       -ms-transition: .3s;
       -o-transition: .3s;
}
    
}

@media (max-width: 540px){
    .contact .action form input[type="email"]{
        width: 310px;
    }
}